
.userhost {
    color: #04B404;
}

.sep, .input, .output {
    color: #848484;
}

.clock, .dir {
    color: #E6E6E6;
}

.clock-success {
    color: #04B404;
}
.clock-over {
    color: #E02121;
}

.input-text {
    background-color: #0D0C15 !important;
    border-color: #0D0C15;
}
.input-text:focus {
    border-color: #0D0C15;
}