<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />

    <title>IT Security Training - Escape Game #1 for Apologic</title>
</head>
<body class="background-dark">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-6">
                <div class="row d-flex justify-content-center">
                    <h1>IT Security Training</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <h2>Escape Game #1 for Apologic</h2>
                </div>
                <div class="row d-flex justify-content-center mt-5">
                    <a th:href="@{/game}" class="btn btn-secondary">Try to hack !</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>